
.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 12vh;
    gap: 3vh;
    background-color: #8ec3eb;
    margin-top: -10vh;
    padding-bottom:7vh;
}

.header{
    display: flex;
    justify-content: center;
    margin-top: -2vh;
    padding: 8vh;
    font-size: 12vh;
    background-color: #2a6592
}

#score {
    display: flex;
    gap: 6vw;
}

#choices {
    display: flex;
    justify-content: center;
    gap: 3vw;
    
}

#result{
    text-align: center;
}

.images {
    display: flex;
    justify-content: center;
    gap: 4vw;
}

img {
    max-width: 20vh;
    max-height: 20vh;
}

button {
    display: flex;
    flex: 1 0 60%;
    align-items: center;
    justify-content: center;
}

#score h1{
    display: flex;
    flex-direction: column;
    align-items: center;
}

